<div class="container">
    <div class="row">

        <a href="/repo/{{ repo.owner }}/{{ repo.name }}/settings" class="btn-primary btn sync">
            Settings
        </a>

        <h1>{{ repo.name }}</h1>

        <p>
            No coverage has been posted for this repo yet.
        </p>

        <p>
            Token: <strong>{{ repo.token }}</strong>
        </p>

        <p>
            To post coverage <br>

            <code>
                curl -F coverage=@coverage.info "https://cvr.vokal.io/coverage?token={{ repo.token }}&commit=:commit_hash&coveragetype=lcov|cobertura|jacoco|gocover"
            </code>
        </p>

    </div>
</div>
