<div class="container">
    <div class="row">

        <a href="/repo/{{ repo.owner }}/{{ repo.name }}/settings" class="btn-primary btn sync">
            Settings
        </a>

        <h1>{{ repo.owner }}/{{ repo.name }}</h1>

        <h2>#{{ hash }}</h2>

        <select onchange="if( this.value ) { window.location.href = '/repo/{{ repo.owner }}/{{ repo.name }}/' + this.value; }">
            <option value="">Commit History</option>
            {{#each hashes }}
            <option value="{{ . }}">{{ . }}</option>
            {{/each}}
        </select>

        <br>
        <br>
        <p>
            To post coverage <br>

            <code>
                curl -F coverage=@coverage.info "https://cvr.vokal.io/coverage?token={{ repo.token }}&commit=:commit_hash&coveragetype=lcov|cobertura"
            </code>
        </p>

        <table class="files">
            <colgroup>
                <col>
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
            </colgroup>

            <thead>
                <tr>
                    <th>File</th>
                    <th>Lines</th>
                    <th>Functions</th>
                    <th>Branches</th>
                </tr>
            </thead>

            <tbody>
            {{#each cov}}
                <tr class="{{#if complete}}complete{{/if}}">
                    <td>
                        <a href="/repo/{{ ../repo.owner }}/{{ ../repo.name }}/{{ ../hash }}/{{ file }}">
                            {{ file }}
                        </a>
                    </td>
                    <td>
                        {{ lines.hit }} / {{ lines.found }}
                    </td>
                    <td>
                        {{ functions.hit }} / {{ functions.found }}
                    </td>
                    <td>
                        {{#if branches.found}}
                        {{ branches.hit }} / {{ branches.found }}
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</div>