<div class="container">
    <div class="row">

        <a href="/repo/{{ repo.owner }}/{{ repo.name }}" class="btn sync">
            Back
        </a>

        <h1>{{ repo.owner }}/{{ repo.name }}</h1>

        <br>
        <br>

        <div class="highlight">
             <form method="POST" action="">
                <h2>Settings</h2>
                <ul>
                    <li>
                        <label>
                            Minimum Passing Line Percent Coverage
                            <input type="text" name="minPassingLinePercent" value="{{ repo.minPassingLinePercent }}">
                        </label>
                    </li>
                    <li>
                        <label>
                            Set removepath
                            <input type="text" name="removePath" value="{{ repo.removePath }}">
                        </label>
                    </li>
                    <li>
                        <label>
                            Set prependpath
                            <input type="text" name="prependPath" value="{{ repo.prependPath }}">
                        </label>
                    </li>
                    <li>
                        <input type="submit" class="btn-primary btn" value="Save Settings">
                    </li>
                </ul>
            </form>
        </div>

        <div class="highlight">

            <h2>
                <a href="/repo/{{ repo.owner }}/{{ repo.name }}" style="float: right;">
                    <img src="/{{ repo.owner }}/{{ repo.name }}/shield.svg">
                </a>
                Status Shield
            </h2>

            <ul>
                <li>
                    Markdown<br>
                    <code>
                        [![line cvr]({{ host }}{{ repo.owner }}/{{ repo.name }}/shield.svg)]({{ host }}repo/{{ repo.owner }}/{{ repo.name }})
                    </code>
                </li>
            </ul>
        </div>

        <div class="highlight">
            <h2>Danger Zone</h2>
            <ul>
                <li>
                    <a class="btn-warning btn" href="/repo/{{ repo.owner }}/{{ repo.name }}/new-token"
                        onclick="return( confirm( 'Are you sure you want to reset the token?' ) )">
                        Generate new token
                    </a>
                </li>
            </ul>

            <form method="POST" action="/repo/{{ repo.owner }}/{{ repo.name }}/delete">
                <ul>
                    <li>
                        <button type="submit" class="btn-danger btn"
                            onclick="return( confirm( 'Are you sure you want to completely delete this repo?' ) )">
                            Delete {{ repo.owner }}/{{ repo.name }} and all commit history
                        </button>
                    </li>
                </ul>
            </form>
        </div>

    </div>
</div>
