<div class="container">
    <div class="row">

        <a href="/repos?refresh=1" class="btn-primary btn sync">
            Sync Repos
        </a>

        <h1>{{title}}</h1>

        <table class="repos">
        {{#each activeRepos}}
            <tr class="{{commitStatus linePercent minPassingLinePercent }}">
                <td>
                    <a href="/repo/{{ fullName }}">
                        {{ fullName }}
                    </a>
                </td>
                <td>
                    {{#if linePercentFormatted }}
                        {{ linePercentFormatted }}%
                    {{else}}
                        New
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </table>

        <br><br>

        <ul class="repos">
        {{#each repos}}
            <li>
                <a href="/repo/{{ fullName }}">
                    {{ fullName }}
                </a>
            </li>
        {{/each}}
        </ul>
    </div>
</div>