@import (inline) "prism.css";
@import "prism-custom.less";


@badge-passing: #070;
@badge-failing: #700;


body {
    padding-top: 70px;
    font-family: "Source Sans Pro", sans-serif;
}

.repos {
    margin: 0;
    padding: 0;
}

.repos li {
    list-style: none;
    background: #F2F2F2;

    a {
        display: block;
        padding: 5px 10px;
        margin-bottom: 2px;
        transition: background 200ms;
        color: #000;

        &:hover {
            background: rgba(0,0,0,0.1);
            text-decoration: none;
        }
    }

    .owner {
        min-width: 100px;
    }

    .badge {
        float: right;
    }
}

table {
    display: inline-table;
    width: 100%;

    td,
    th {
        padding: 5px 10px;
        background: #F2F2F2;
        border-bottom: 2px solid #FFF;
    }

    th {
        background: #666;
        color: #FFF;
    }
}

.sync {
    float: right;
}


li.complete,
li.passing {
    background-color: #DFD;

    .badge {
        background: @badge-passing;
    }
}

li.failing {
    background-color: #FDD;

    .badge {
        background: @badge-failing;
    }
}

.badge.passing,
.badge.complete {
    background: @badge-passing;
}

.badge.failing {
    background: @badge-failing;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    label {
        display: block;

        input {
            margin-top: 5px;
        }
    }

    li {
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #CCC;

        &:last-child {
            border-bottom: none;
        }
    }
}

.owner,
.repo {
    display: inline-block;
    padding: 3px;
}

.repo {
    font-weight: bold;
}

.fraction {
    color: #999;
    white-space: nowrap;

    .num {
        color: #000;
        font-weight: bold;
        display: inline-block;
        min-width: 24px;
        text-align: right;
    }

    .den {
        color: #000;
    }
}

.highlight {
    background: #F8F8F8;
    padding: 10px;
    margin-bottom: 20px;
}
